<div class="mainpage">
    <div class="content">
        <div class="card secondPageCardBody">
            <div class="card-body">
                <i class="material-icons alert-icon">error_outline</i>
                <h5 class="card-title">The mood at Center Stage is dropping quickly!</h5>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 offset-lg-1 offset-md-1 offset-lg-1 offset-md-1 offset-xs-1 offset-sm-1">
                        <p class="card-text">The band wrapped up early and  DJ Snapdragon is still at the West Stage</p>
                        </div>
                    </div>
                    <div class="action">
                        <p> We need you to spin some tunes.</p>
                        <p> Can you help? </p>
                    </div>
                    <div class="row action-btn">
                        <div class="col">
                            <button class="btn yes-btn" ng-click="gotoMusicSelection()"> yes </button>
                        </div>
                        <div class="col">
                            <button class="btn no-btn" ng-click="gotoDJ()"> no </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>