
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a id="dataTab" href="#devices" class="mdl-tabs__tab is-active">Current Data</a>
      <a href="#charts" class="mdl-tabs__tab">Charts</a>     
  </div>

	{{> loader}}
	
	{{> devices_data_container}}
	
</div>
