<!-- Header -->
<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <h3>AWS IoT Dashboard</h3>
  </div>        
</header>